<div class="row" *ngIf="proy">
    <h1>Proyectos realizados</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/nuevoproy" *ngIf="isLogged">
            Agregar proyecto
        </button>
    </div>

    <div class="col lg 1"></div>
    <div class="col-lg-11">
        <table class="table">
            <tbody>
                <tr *ngFor="let Proy of proy">
                    <td>
                        <h2>{{Proy?.nombreP}}</h2>
                    </td>
                    <td>{{Proy?.descripcionP}}</td>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" proyectos>
                        <img src={{Proy.img}} >
                    </div>        
                    <td *ngIf="isLogged">
                        <button class="btn btn-light" routerLink="/editproy/{{Proy.id}}">
                            <i class="bi bi-pencil-fill"></i>Editar</button>
                    </td>
                    <td *ngIf="isLogged">
                        <button class="btn btn-warning" (click)="delete(Proy?.id)">
                            <i class="bi bi-trash-fill"></i>Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div> 