<div class="row">
    <h1>Proyectos Destacados Realizados</h1>
     <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <span>
                <h1>Edificio Giulietta & Romeo - Ciudad Mendoza - Año 2007</h1>
                <p>Edificio 18 niveles, ubicado en la Ciudad de Mendoza. Mis tareas fueron modelado estructural y verificación de los elementos resistentes. </p>
            </span>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/Proyecto1.png" 
            class="proyectos" id="proyecto1">
        </div>        
        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
            <span>
                <h1>Hotel - Casino Arena Maipú - Año 2008</h1>
                <p>Edifcicio 4 niveles con cine, casino, y habitaciones 5*. </p>
            </span>
        </div>
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/proyecto2.png" 
            class="proyectos" id="proyecto2.png">
        </div> 
        <span>
            <h1>Viviendas varias- Años 2009 - Actualidad</h1>
            <p>Cálculo y dirección técnica de estructuras.</p>
        </span>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/proyecto3.png" 
        class="proyectos" id="proyecto3.png">
        <span>
            <h1>Villavicencio Park - Año 2021</h1>
            <p>Cálculo y dirección técnica de estructuras para tirolesas y sus fundaciones.</p>
        </span>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/proyecto4.png" 
        class="proyectos" id="proyecto4.png">
    </div> 
</div>