<div class="row">
    <h1>Educación
    </h1>
    <div class="clo-lg-11">
    <ul>
        <li>
            <h1>Esc. Ing. Pablo Nogués.
            </h1><h3>(1992 - 1997)</h3>
        </li>
        <p>Título : Maestro Mayor de Obras</p>
        <li>
            <h1>Universidad Tecnológica Nacional - Facultad Regional Mendoza</h1><h3>(1998 - 2009)</h3>
        </li>
        <p>Título : Ingeniero Civil, orientación construcciones.</p>
        <li>
            <h1>Universidad Tecnológica Nacional - Maestría en Ingeniería Estructural Sismo resistente.</h1><h3>(2018 - Actualidad)</h3>
        </li>
        <p>Título: Magíster en Ingeniería Estructural Sismorresistente.</p>

        <li>
            <h1>Argentina Programa</h1><h3>(2021 - Actualidad)</h3>
        </li>
        <p>Título: Full Stack Developer Jr.</p>
    </ul>
    </div>
    </div>