 <div class="row">
 <h1>Habilidades blandas y duras</h1>
</div>

<div class="row">
     <div class="columnas">
            <circle-progress
        [percent]="50"
        [radius]="100"
        [title]="'html'"
        [showUnits]="false"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7688A0'"
        [innerStrokeColor]="'#96CDEB'"
        [animation]="true"
        [animationDuration]="300"
                ></circle-progress>
            <div class="texts">
        HTML
            </div>
    </div>

    <div class="columnas">
                     <circle-progress
        [percent]="85"
        [radius]="100"
        [title]="'CSS'"
        [showUnits]="false"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7688A0'"
        [innerStrokeColor]="'#96CDEB'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
            <div class="texts">
                CSS
                    </div>
        </div>
    <div class="columnas">
   
                    <circle-progress
        [percent]="30"
        [radius]="100"
        [title]="'JS'"
        [showUnits]="false"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7688A0'"
        [innerStrokeColor]="'#96CDEB'"
        [animation]="true"
        [animationDuration]="300"
                    ></circle-progress>
                    <div class="texts">
                        JavaScript
                            </div>
   
    </div>

    <div class="columnas">
                <circle-progress
        [percent]="30"
        [radius]="100"
        [title]="'GitHub'"
        [showUnits]="false"
        [imageSrc]="'../assets/git.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#7688A0'"
        [innerStrokeColor]="'#96CDEB'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
            <div class="texts">
                GitHub
                    </div>
    </div>

    <div class="columnas">
                <circle-progress
        [percent]="80"
        [radius]="100"
        [title]="'English'"
        [showUnits]="false"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="90"
        [imageWidth]="70"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#9AEEDB'"
        [innerStrokeColor]="'#CDF2E5'"
        [animation]="true"
        [animationDuration]="300"
                ></circle-progress>
                <div class="texts">
                    English
                        </div>
    </div> 

    <div  class="columnas">
        <circle-progress
        [percent]="80"
        [radius]="100"
        [title]="'Trabajo en equipo'"
        [showUnits]="false"
        [imageSrc]="'../assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="85"
        [imageWidth]="70"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#9AEEDB'"
        [innerStrokeColor]="'#CDF2E5'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
    <div class="texts">
        Trabajo en equipo
            </div>
    </div>
 
    <div class="columnas">

                <circle-progress
        [percent]="69"
        [radius]="100"
        [title]="'Comunicación'"
        [showUnits]="false"
        [imageSrc]="'../assets/com.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#9AEEDB'"
        [innerStrokeColor]="'#CDF2E5'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
            <div class="texts">
                Comunicación
                    </div>
    </div>
    <div class="columnas">
            <circle-progress
        [percent]="80"
        [radius]="100"
        [title]="'Escucha activa'"
        [showUnits]="false"
        [imageSrc]="'../assets/Act.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#9AEEDB'"
        [innerStrokeColor]="'#CDF2E5'"
        [animation]="true"
        [animationDuration]="300"
            ></circle-progress>
            <div class="texts">
                Escucha activa
                    </div>
    </div>
</div>